{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">{{ _('home.laboratory') }}</span> <span class="smaller">{{ _('home.feed_plant') }}</span></h1> 
  <p class="lead"><span class="font-semi-bold">{{ _('error.404_code') }}</span> {{ _('error.404_message') }}</p>
</div>
{% endblock content %}
