{% extends 'layout.jinja2'  %}

{% block content %}
<div class='content'>
<h2><span class="lead">{{ _('add_substance.title') }}</span></h2>
<p><span class="lead font-semi-bold">{{ message }}</span></p>
{{ form|safe }}
</div>
{% endblock %}