{% extends 'layout.jinja2'  %}

{% block content %}
<h2><span class="lead">Додати нову назву в каталог реактивів (речовин, індикаторів)</span></h2>
    <p>{{message}}</p>
    {{ form.render()|safe }}
{% endblock %}