{% extends 'layout.jinja2'  %}

{% block content %}
<div class='content'>
<h2><span class="lead">Додати нову назву в каталог реактивів (речовин, індикаторів)</span></h2>
<p><span class="lead font-semi-bold">{{ message }}</span></p>
{{ form|safe }}
</div>
{% endblock %}