{% extends 'layout.jinja2' %}

{% block content %}
<div class="content">
<h2><span class="smaller">Виконані аналізи</span><br>
<span class="lead">усі виконані дослідження</span></h2>
<p>{{message}}</p>
{% if analysises %}
<p>Нажміть на кнопку щоб роздрукувати цю сторінку або зберегти в .pdf файл
	<button onclick=window.print() class="btn btn-primary">Друк</button></p>
<table id="recipes" class="table table-bordered" style="width:100%">
  <thead>
    <tr>
    <th>#</th>
    <th>Назва аналізу</th>
    <th>кількість</th>
    <th>Дата</th>
    <th>Загальна вартість, грн.</th>
    <th>Видалити</th>
    </tr>
  </thead>
  <tbody>
    {% for item in analysises %}
    <tr>
	<td>{{ item['id'] }}</td>
    <td>{{ item['recipe_name'] }}</td>
    <td>{{ item['quantity'] }}</td>
    <td>{{ item['done_date'] }}</td>
    <td>{{ '%0.2f'|format(item['total_cost']|float) }}</td>
    <td><a href="/delete-analysis/{{item['id']}}" 
         title="УВАГА! ОПЕРАЦІЯ НЕЗВОРОТНЯ. Відміняє запис про аналіз і видаляє записи про розход речовин на складі реактивів і в журналі розчинів, усіх що використані для цього аналізу у відповідній кількості!" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash icon-muted"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Поки що немає виконаних аналізів в базі даних</p>
{% endif %}
</div>
<script>
  $(document).ready(function() {
    $('#recipes').DataTable( {
      language: {
          search: "Пошук по таблиці",
          paginate: {
            first: "Перша",
            previous: "Попередня",
            next: "Наступна",
            last: "Остання"
          },
      }
    } );
  } );
</script>
{% endblock %}
