{% extends 'layout.jinja2' %}

{% block content %}
<div class="content">
    <h3><span class="font-normal">Приход на склад реактива (речовини, індикатору)</span></h3>
    <p>{{ message }}</p>
    {{ form.render()|safe}}
</div>
{% endblock %}