{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Лабораторія</span> <span class="smaller">комбікормовий завод</span></h1>
  <p class="lead">Вітаємо, це <span class="font-normal">{{project}}</span>, створена за допомогою <a href="https://trypyramid.com/">&nbsp;Pyramid application&nbsp;</a>by<br><span class="font-normal">Cookiecutter</span>.</p>
  <p>{{ one['name'] }} - основний компонет для розчинів. В каталозі реактивів під номером {{ one['id'] }}. Одиниця виміру: {{ one['measurement'] }}</p>
  <h2><span class="font-semi-bold">Часті питання та допомога</span></h2>
  <ol>
    <li>Використовуйте унікальні назви не тільки в одному каталозі, а й між ними.
      Тобто назва речовини не може бути однакова з розчином, сумішшю або назвою аналізу.
      Інакше програма може працювати некоректно!
    </li>
    <li>Новий рецепт в розділі "Рецепти" створює рецепт як для розчину так і для суміші (яка складається виключно із сухих речовин).
      Потрібний тип треба вибрати у формі.
    </li>
    <li>Якщо рецепт розчину використовується для обліку розчину, який є складовою інших розчинів -
      потрібно поставити відмітку у формі створення нового рецепту "Використовується як компонент".</li>
    <li>В розділі Склад агрегація Загальної суми по кожному реактиву значить,
      що (Середня ціна по всім Приходам і Розходам складу) * (Сума кількостей всіх Приходів і Розходів) = Загальна сума.
      Так само рахується і для Залишки розчинів. Тобто Середня ціна, Загальна сума по позиції - це не бухгалтерська точна величина,
      а дані для управлінського обліку. Щоб розуміти по якій середньообліковій ціні і на яку приблизно суму є залишків конкретної позиції.
    </li>
    <li>Приход на склад можна робити зі знаком мінус у полі форми Кількість.
      Це може бути корисно, коли потрібно відкорегувати залишки після інвентаризації, коли виявлено надлишок якогось реактива (речовини).
      Тоді Ціна у формі має бути середня, що можна взяти дані із розділу Склад по цьому реактиву.
      Або на власний розсуд. Майте на увазі, що нульова ціна змінить середню ціну!
    </li>
    <li>Для відображення статистики витрат майте на увазі, що пізніша дата не включається. Тобто, якщо потрібно подивитись з 15 по 16 березня,
    то вибираємо дати 03/15/2021 - 03/17/2021</li>
    <li>Оскільки программа працює через інтернет - бажано періодично змінювати пароль, щонайменше раз на три місяці.</li>
  </ol>
</div>
{% endblock content %}
