{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">{{ _('home.laboratory') }}</span> <span class="smaller">{{ _('home.feed_plant') }}</span></h1>

  <div class="col-md-5 filter">
    <h2><span class="lead font-semi-bold">{{ _('home.journal_filter') }}</span></h2>
    {{form|safe}}
  </div>
  <div class="col-md-5">
  <h2><span class="lead font-semi-bold">{{ _('home.faq_help') }}</span></h2>
  <ol>
    <li>{{ _('home.faq_1') }}
    </li>
    <li>{{ _('home.faq_2') }}
    </li>
    <li>{{ _('home.faq_3') }}</li>
    <li>{{ _('home.faq_4') }}
    </li>
    <li>{{ _('home.faq_5') }}
      {{ _('home.faq_5_additional') }}
    </li>
    <li>{{ _('home.faq_6') }}</li>
    <li>{{ _('home.faq_7') }}</li>
  </ol>
</div>
</div>
{% endblock content %}
