{% extends 'layout.jinja2' %}

{% block content %}
<div class="content">
    <h2>Новий рецепт розчину</h2>
    <p class="lead">Введіть назву розчину, вихід у мілітрах, виберіть необхідні компоненти та перейдіть до наступного кроку</p>
    <p><span class="lead font-semi-bold">{{ message }}</span></p>
    {{form.render()|safe}}
</div>

{% endblock %}