{% extends 'layout.jinja2' %}

{% block content %}
<div class="content">
    <h2>Новий норматив аналізу</h2>
    <p class="lead">Введіть назву аналізу (дослідження), виберіть необхідні 
компоненти та перейдіть до наступного кроку</p>
    <p><span class="lead font-semi-bold">{{ message }}</span></p>
    {{form|safe}}
</div>

{% endblock %}