{% extends 'layout.jinja2' %}

{% block content %}
<div class="content">
  <h1>Редагувати каталог</h1>
  <h2><span class="font-semi-bold">Рецепти розчинів і сумішей</span>
    <a href="/new-normative" class="btn btn-default">Новий рецепт</a>
    <a href="/normatives" class="btn btn-info"> Назад в каталог</a></h2>
{% if normative_list %}
<h2><span class="font-normal">Розчини</h2>
  <hr>
 <table class="table">
  	<thead>
  		<tr>
  			<th>#</th>
  			<th>назва</th>
  			<th>вихід</th>
  			<th>компоненти</th>
        <th>розчини</th>
        <th>видалити</th>
  		</tr>
  	</thead>
  	<tbody>
		{% for norm in normative_list %}
      {% if norm['type'] == 'solution' %}
  		<tr>
  			<td>{{norm['id']}}</td>
  			<td><p class="lead"><span class="font-normal">{{norm['name']}}  </span></p>
          {% if norm['as_subst'] %}
          <p><em>(використовується як компонент іншого розчину)</em></p>{% endif %}
        </td>
  			<td>{{ '%0.3f'| format(norm['output']|float) }} мл</td>
        <td>
          {% for k,v in norm['data'].items() %}
            <ul>
              <li><strong>{{k}}: </strong>{{v}}</li>
            </ul>
          {% endfor %}
		    </td>
        <td>
          {% if norm['solutions'] %}
          {% for k,v in norm['solutions'].items() %}
          <ul>
            <li><strong>{{k}}: </strong>{{v}}</li>
          </ul>
          {% endfor %}
          {% else %}
          не використовує готові розчини
          {% endif %}
        </td>
        <td><a href="/delete-normative/{{norm['id']}}" class="btn btn-danger">
          <i class="glyphicon glyphicon-trash icon-muted"></i></a></td>
  		</tr>
      {% endif %}
		{% endfor %}
  	</tbody>
  </table>

  <h2><span class="font-normal">Суміші</h2>
    <hr>
   <table class="table">
    	<thead>
    		<tr>
    			<th>#</th>
    			<th>назва</th>
    			<th>вихід</th>
    			<th>компоненти</th>
          <th>видалити</th>
    		</tr>
    	</thead>
    	<tbody>
  		{% for norm in normative_list %}
        {% if norm['type'] == 'mixture' %}
    		<tr>
    			<td>{{norm['id']}}</td>
    			<td><p class="lead"><span class="font-normal">{{norm['name']}}  </span></p>
          </td>
    			<td>{{ '%0.3f'| format(norm['output']|float) }} г</td>
          <td>
            {% for k,v in norm['data'].items() %}
              <ul>
                <li><strong>{{k}}: </strong>{{v}}</li>
              </ul>
            {% endfor %}
  		    </td>
          <td><a href="/delete-normative/{{norm['id']}}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash icon-muted"></i></a></td>
    		</tr>
        {% endif %}
  		{% endfor %}
    	</tbody>
    </table>

{% else %}
<p>Немає рецептів поки що...</p>
{% endif %}
</div>

{% endblock content %}
