{% extends 'layout.jinja2' %}

{% block content %}
<div class="content">
<h1><span class="font-semi-bold ">Список рецептів аналізів (досліджень)</span></h1>
<p>{{message}}</p>
{% if recipes %}
<table id="recipes" class="table table-bordered" style="width:100%">
  <thead>
      <tr>
          <th>#</th>
          <th>Назва аналізу</th>
          <th>Детальніше</th>
          <th>Дії</th>
      </tr>
  </thead>
  <tbody>
    {% for r in recipes %}
    <tr>
      <td>{{ r.0 }}</td>
      <td>{{ r.1 }}</td>
      <td><a href="/resipe-details/{{r.0}}" class="btn btn-info">Повний рецепт</a></td>
      <td><a href="/add-analysis/{{r.0}}" class="btn btn-danger">Виконати аналіз</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<a href="/new-recipe" class="btn btn-default">Створити новий норматив аналізу</a>
</div>
<script>
  $(document).ready(function() {
    $('#recipes').DataTable( {
      language: {
          search: "Пошук по таблиці",
          paginate: {
            first: "Перша",
            previous: "Попередня",
            next: "Наступна",
            last: "Остання"
          },
      }
    } );
  } );
</script>
{% endblock %}