{% extends 'layout.jinja2' %}

{% block content %}
<div class="content">
<h2><span class="font-semi-bold">Журнал розчинів</span><br>
<span class="lead font-normal">приготовлені для використання та списання при виконанні досліджень</span></h2>
<p>{{message}}</p>
{% if solutions %}
<p>Нажміть на кнопку щоб роздрукувати цю сторінку або зберегти в .pdf файл
	<button onclick=window.print() class="btn btn-primary">Друк</button></p>
<table id="recipes" class="table table-stripped" style="width:100%">
  <thead>
    <tr>
			<th>#</th>
      <th>Розчин або сухий реактив)</th>
      <th>Одиниця виміру</th>
      <th>Кількість приход / розход</th>
			<th>Залишок поточний</th>
      <th>Ціна, грн.</th>
      <th>Сума, грн.</th>
			<th>Дата виготовлення</th>
      <th>Придатний до</th>
      <th>Примітка</th>
      <th>Видалити</th>
    </tr>
  </thead>
  <tbody>
    {% for item in solutions %}
    <tr>
			<td>{{ item['id'] }}</td>
      <td>{{ item['normative'] }}</td>
			<td>{{ item['measurement'] }}</td>
			<td>{{ '%0.3f'| format(item['amount']|float) }} </td>
			<td>{{ '%0.3f'| format(item['remainder']|float) }}</td>
			<td>{{ '%0.2f'| format(item['price']|float) }}</td>
			<td>{{ '%0.2f'| format(item['total_cost']|float) }}</td>
			<td>{{ item['created_at'] }}</td>
      <td>{{ item['due_date'] }}</td>
			<td>{{ item['notes'] }}</td>
      <td>
        {% if item['amount'] > 0 %}
          <a href="/delete-solution/{{ item['id']}}"
           title="УВАГА! ОПЕРАЦІЯ НЕЗВОРОТНЯ. Відміняє запис про розчин і видаляє записи про розход речовин на складі реактивів, усіх що використані для цього розчину у відповідній кількості!" class="btn btn-xs btn-danger">
           <i class="glyphicon glyphicon-trash icon-muted"></i>
          </a>
        {% else %}
          <p>Можна видалити запис тільки приходу розчину.</p>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Поки що немає записів в базі даних</p>
{% endif %}
</div>
<script>
  $(document).ready(function() {
    $('#recipes').DataTable( {
			order: [[0, 'desc'],],
      language: {
          search: "Пошук по таблиці",
          paginate: {
            first: "Перша",
            previous: "Попередня",
            next: "Наступна",
            last: "Остання"
          },
      }
    } );
  } );
</script>
{% endblock %}
