{% extends 'layout.jinja2' %}

{% block content %}
<div class="content">
<h2><span class="font-semi-bold">{{ _('stock.title') }}</span><br>
<span class="lead">{{ _('stock.subtitle') }}</span></h2>
<p>{{message}}</p>
{% if stock_list %}
<p>{{ _('stock.print_instruction') }}
	<button onclick=window.print() class="btn btn-primary">{{ _('stock.print_button') }}</button></p>
<table id="recipes" class="table table-bordered" style="width:100%">
  <thead>
      <tr>
          <th>{{ _('stock.reactant_substance') }}</th>
          <th>{{ _('stock.unit_measurement') }}</th>
          <th>{{ _('stock.quantity') }}</th>
          <th>{{ _('stock.average_price') }}</th>
          <th>{{ _('stock.total_sum') }}</th>
      </tr>
  </thead>
  <tbody>
    {% for item in stock_list %}
    <tr>
      <td>{{ item['substance_name'] }}</td>
			<td>{{ item['measurement'] }}</td>
      <td>{{ '%0.3f'| format(item['total_amount']|float) }}</td>
      <td>{{ '%0.2f'|format(item['avg_price']|float) }}</td>
			<td>{{ '%0.2f'|format(item['sum_cost']|float) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
</div>
<script>
  $(document).ready(function() {
    $('#recipes').DataTable( {
      language: {
          search: "{{ _('datatable.search') }}",
          paginate: {
            first: "{{ _('datatable.first') }}",
            previous: "{{ _('datatable.previous') }}",
            next: "{{ _('datatable.next') }}",
            last: "{{ _('datatable.last') }}"
          },
      }
    } );
  } );
</script>
{% endblock %}
