{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h2><span class="smaller font-bold">Редагувати каталог реактивів</span></h2>
<hr>
<a href="/add_substance" class="btn btn-success">Новий реактив в каталог</a>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Назва</th>
            <th>Од. виміру</th>
            <th>Видалити</th>
        </tr>
    </thead>
    <tbody>
        {% if subs_list %}
            {% for subs in subs_list %}
        <tr>
            <td>{{ subs['id'] }}</td>
            <td>{{ subs['name'] }}</td>
            <td>{{ subs['measurement'] }}</td>
            <td><a href="/substance/{{ subs['id'] }}/delete" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash icon-muted"></i></a></td>
        </tr>
            {% endfor %}
        {% else %}
        <tr>немає нічого в каталозі</tr>
        {% endif %}
    </tbody>
</table>
</div>
{% endblock content %}
