{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h2><span class="smaller font-bold">{{ _('substances_edit.title') }}</span></h2>
<hr>
<a href="/add_substance" class="btn btn-success">{{ _('substances_edit.new_reagent') }}</a>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ _('substances.name') }}</th>
            <th>{{ _('substances.unit_measurement') }}</th>
            <th>{{ _('substances_edit.delete') }}</th>
        </tr>
    </thead>
    <tbody>
        {% if subs_list %}
            {% for subs in subs_list %}
        <tr>
            <td>{{ subs['id'] }}</td>
            <td>{{ subs['name'] }}</td>
            <td>{{ subs['measurement'] }}</td>
            <td><a href="/substance/{{ subs['id'] }}/delete" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash icon-muted"></i></a></td>
        </tr>
            {% endfor %}
        {% else %}
        <tr>{{ _('substances.no_items') }}</tr>
        {% endif %}
    </tbody>
</table>
</div>
{% endblock content %}
